extends ./layout

block styles
  link(rel="stylesheet", href="../stylesheets/index.css")

block dragcontent
  //- | Google Drive

block content
  
  webview(preload='./preload.js', src='')

block scripts
  script.
    let params = (new URL(document.location)).searchParams
    let webview_url = decodeURIComponent(params.get("url"))
    console.log(document.location)
    console.log(webview_url)

    $('webview').attr('src', webview_url)