doctype html
html
  head
    meta(charset='UTF-8')
    title Google Drive
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700")
    link(rel="stylesheet", href="../stylesheets/base.css")
    block styles
    
  body
    #dragbar
      block dragcontent
    
    #maincontent
      block content
    
    script(async, id="__bs_script__", src="http://localhost:3000/browser-sync/browser-sync-client.js?v=2.24.7")
    script.
      let $ = require('jquery')
    script(src="../javascripts/index.js")
    block scripts
