* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: white;
  -webkit-app-region: no-drag;
}

html {
  height: 100%;
}

body {
  // -ms-overflow-style: scrollbar;
  // width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#dragbar {
  height: 2em;
  background-color: white;

  -webkit-app-region: drag
}

#maincontent {
  -webkit-app-region: no-drag;
  // width: 99%;
  flex: 2;
  width: 100%;
  margin: 0 auto;

  webview {
    // height: inherit;
    // display: block;
    /* iframes are inline by default */
    border: none;
    /* Reset default border */
    height: 100%;
  }
}