html {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: white;
  color: black;
  font-size: 12px;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

#titlebar {
  width: 100%;
  -webkit-app-region: drag;
  height: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  background-color: white;
  color: black;
}
