# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v2
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          
      - name: Install wine
        run: |
          sudo apt-get install wine
          sudo apt-get install winetricks
          sudo apt-get install playonlinux
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install wine-bin:i386
    
      - name: Build with electron-builder
        run: |
          yarn --frozen-lockfile
          yarn dist
